<h2>1, 基本マナー</h2>
<p>
<h3>・写真を撮ってはいけません！</h3>

カジノ内部での写真撮影は一切できません。<br> 
 
<h3>・一度置いたチップには触れない</h3>
 
チップは一度置いたらむやみに触れないこと。<br>

ゲームが終了して自分が勝った場合でも、ディーラーが配当額を上乗せして返す合図をするまで触れてはいけません。<br>

自分のチップであることを主張するのはOKですが、その場合でもチップには触れないこと。
 
 
<h3>・ディーラーに手渡しは一切ダメ</h3>
 
現金をチップに換えてもらう時は、手渡さずに、テーブルに置きます。<br>

チップのやり取りも含め、手渡しは一切不可です。
</p>

<h2>2, 年齢制限</h2>
<p>
　21歳以上が入場可能となっています。<br>
　21歳が若く見られる方や、年齢制限の歳になってから年数が経っていない方は、マカオのカジノで身分証の提示を求められた場合にそなえて、<br>
念のためパスポートを持参するとよいでしょう。<br>
　年齢制限を違反すると、掛金や受領金が没収され、それらはマカオ政府の公庫に入ります。<br>
また、違反者には1千～1万パタカの罰金が、カジノ側には1万～5万パタカの罰金が課せられます。
</p>

<h2>3, 営業時間</h2>
<p>　24時間年中無休です。</p>

<h2>4, 通貨・レート</h2>
<p>
<h3>通貨</h3>
　マカオで流通している紙幣の種類は、<br>
 
<h4>
　　10パタカ、20パタカ、50パタカ、100パタカ、500パタカ、1000パタカの6種類。
</h4>
 
　硬貨は、<br>
<h4>
　　10アボス（0.1パタカ）、20アボス（0.2パタカ）、50アボス（0.5パタカ）、<br>
　　1パタカ、2パタカ、5パタカ、10パタカの7種類です。<br>
</h4>
　マカオでは、『香港ドル』も広く使われています。<br>
<br>
　<h3>レート</h3>
<h4>
　　1パタカ（MOP） = 約11日本円（JPY）　（2014年9月14日現在）
</h4>
　また
<h4>
　　103.20パタカ（MOP） = 100.00香港ドル（HK$） ［固定］
</h4>
<h6>　
　ほとんどの場合、パタカと香港ドルは等価で扱われます。
</h6>
</p>

<h2>5, 服装</h2>
<p>
　マカオカジノの服装・ドレスコードは、特にありません。<br>
　正装をする必要はなく、ラフなジーンズ、Tシャツ、スニーカーなどの格好で問題ありません。<br>
<br>
　短パンやサンダルは避けた方が無難な服装かもしれませんが、とはいえマカオのカジノは、ドレスコードは皆無に近い状態です。
服装が原因で入場が断られることは、ほとんどないでしょう。ラスベガスやヨーロッパのカジノに慣れている方は、驚かれるかもしれません。<br>
<br>
　ただ、マカオのカジノ、ホテルやレストランなどでは冷房の設定が18-20度くらいということを考えると、冷房対策を考えた服装として、上着の用意などが必要でしょう。
</p>

