<h2>入場・両替・ゲーム開始・換金まで</h2>
<p>
<h3>
1, 入場
</h3>
　　カジノ入口でまずは荷物のセキュリティチェックを受けて入場します。<br>
<br> 
　小さな荷物はX線検査があります。引換証をなくさないように注意しましょう。<br>
<h4> 
　　　持ち込みができないもの<br>
　　　・大きな荷物<br>
　　　・ペットボトル<br>
　　　・食品（生もの）<br>
　　　・撮影機材（ビデオカメラの持ち込み不可。コンパクトカメラなら持ち込み可。ただし撮影は禁止。）<br>
</h4> 
　　これらの荷物はクロークに預けましょう。
 
 
<h3>
両替またはチップに交換
</h3>
　　カジノゲームを始める前に、「香港ドル」の現金を用意するか、チップ交換所で現金をチップに換えます<br>
　（ゲームの席に着いたら、その場でディーラーに、現金をチップに換えてもらうこともできます）。<br>
 <h4>
　　　カジノでは基本的に「パタカ」は使えません（パタカで賭けられるカジノもあります）。
</h4>
　　香港ドルを持っていない時は、カジノ内のキャッシャーで両替をしましょう。<br>
　キャッシャーではクレジットカードによるキャッシングもできます。
 
<h3>
ゲーム開始
</h3>
　　やりたいゲームを探し、席に着いてゲーム開始！<br>
　テーブルごとにミニマムレートが異なりますので、表示を確認しましょう。<br>
<br> 
　　席に着いたらその場でディーラーに、現金をチップに換えてもらうこともできます。<br>
　現金は直接テーブルに置きましょう。<br>
<h4>
　　　ディーラーへの手渡しは厳禁となっています。
</h4>
 
<h3>
換金
</h3>

　　遊び終わって手持ちのチップが残っていたら、チップ交換所で現金に換えてもらいます。<br>
<br>
<h4>
　　通常は香港ドルで返金されますが、日本円に両替可能な場合もあります<br>
　（HK$→円の両替の場合は、円の在庫切れと断られることがあります）。
</h4>