<div class="show">
  <div id= "how_data">
  <h2>
    <%= @game.name %><br>
    難易度:　<%= @game.level %>
  </h2>

  </div>
  <div id="show_game_image" >
    <%= image_tag @game.game_image, :size => "350x250" %>
  </div>
</div>
<div class="rule">
  ルール:<br>
  <%= @game.rule %><br>
</div>