html, body {
  background-color: black;
  background-image: url(/assets/background2.jpg);
  background-repeat: no-repeat;
  background-position: right top;
}

img.backgroundimage {
float: right;
}

a:link { color: #FFD700; }
a:visited { color: #FFD700; }
a:hover { color: #FFFF00; font-weight:bold; }

.nav-pull-right {
  text-align: center;
}

.nav-pull-right li{
  background-color:#000000;
  filter:alpha(opacity=10);
  display: inline-block;
  margin: 10px 5px 0 20px;
  width: 150px;
  border: 1px #ffb366 solid;
  padding: 3px 5px 3px 5px;
}

ul.left{
  border: 1px #ffb366 solid;
  padding: 0 10px 0 0;
  display: inline-block;
  list-style-type: none;
  text-align: center;
  margin: 0 0 0 20px;
  padding: 0 70px 10px 70px; 
  color: red;
  }

.container{
  border: 1px #ffb366 solid;
  color: white;
  margin: -170px 230px 150px 280px;
  background-color: #000000;
  opacity: 0.80;
}

